.div {
  display: flex;
  flex-direction: column;
}

.div2, .div4, .div10, .div13, .div15, .div18, .div21 {
  width: 100%;
}

@media (max-width: 991px) {
  .div2, .div4, .div10, .div13, .div15, .div18, .div21 {
    max-width: 100%;
    padding: 0 20px;
  }
}

.div3, .div6, .div14, .div30 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div3, .div6, .div14, .div30 {
    flex-direction: column;
    gap: 0;
  }
}

.column, .column2, .column3, .column4, .column5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column, .column2, .column3, .column4, .column5 {
    width: 100%;
    margin-left: 0;
  }
}

.cardContent, .cardContent2, .cardContent3 {
  display: flex;
  flex-direction: column;
  font: 14px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .cardContent {
    margin-top: 30px;
  }
  .cardContent2 {
    margin-top: 32px;
  }
  .cardContent3 {
    margin-top: 40px;
  }
}

.div7, .div10, .div15, .div18, .div21 {
  border-radius: 20px;
  background: var(--White, #fff);
  box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 29px 30px;
}

@media (max-width: 991px) {
  .div7, .div10, .div15, .div18, .div21 {
    padding: 0 20px;
  }
}

.img, .img2, .img3, .img4, .img5 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 52px;
}

.img2, .img3, .img4, .img5 {
  width: 18px;
}

.amount, .amount2, .amount3, .amount6 {
  color: var(--Text-100, #1a1a1a);
  font-size: 28px;
  font-weight: 600;
  margin-top: 28px;
}

.text, .text2 {
  color: var(--Text-10, #9e9e9e);
  font-weight: 400;
  margin-top: 5px;
}

.statistic {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
}

@media (max-width: 991px) {
  .statistic {
    margin-top: 25px;
  }
}

.div9, .div12, .div17, .div20 {
  display: flex;
  gap: 10px;
  margin: auto 0;
}

@media (max-width: 991px) {
  .div9, .div12, .div17, .div20 {
    white-space: initial;
  }
}

.heading, .heading2 {
  color: var(--Text-100, #1a1a1a);
  font-size: 21px;
  font-weight: 500;
}

.liveMarket {
  display: flex;
  flex-grow: 1;
  align-items: end;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .liveMarket {
    margin-top: 40px;
  }
}
